/* App.css */
body {
  background-color: #f0f0f0; /* Fondo gris claro */
  margin: 0;
  height: auto; /* Asegúrate de que la altura sea automática */
  min-height: 100vh; /* Asegúrate de que ocupe al menos toda la altura de la pantalla */
  width: 100%;
  display: flex;
  place-items: center;
}
#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff; /* Fondo blanco para el contenedor principal */
}
.fixed-button-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

.fixed-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  text-align: center;
}

.button-style {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}
